/* VARIABLES */
:root {
  --body-font: "Open Sans", sans-serif;
  --sans-serif-font: "Roboto", sans-serif;
  --cursive-font: "Yellowtail", cursive;
  --clr-dk-blue: #274c5b;
  --clr-green: #7eb693;
  --clr-light-green: #eff6f1;
  --clr-yellow: #efd372;
}
